*{
    margin: 0;
    padding: 0;
    box-sizing:borde-box;
}
/* backgroud do jogo*/
.game-bord{
    width: 100%;
    height: 500px;
    border-top: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}
/* Piso do jogo*/
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.8s infinite linear;
}
.grama{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 2px;
    padding-bottom: 415px;
}


/* Personagem*/
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
   
}
/* Pulo*/
.jump{
    animation: jump 500ms ease-in-out;
}
/* Cenario*/
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
.clouds2{
    position: absolute;
    width: 300px;
    animation: clouds-animation 25s infinite linear;

}
@font-face{
    font-family:'04b_30__';
    src: url('fonte/04B_30__.TTF') format('truetype');
}
#text-element{
    font-family:'04b_30__', Arial,sans-serif;
}
/*Animação*/

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
    
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -500px;
    }
    to {
        right: 100%;
    }

}
@keyframes clouds2-animation{
    from{
        right: -750px;
    }
    to {
        right: 100%;
    }

}

p {
    font-family: '04b_30__';
    padding: 90px;
    text-align: center;
    color: gold;
}