*{
    margin: 0;
    padding: 0;
    box-sizing:borde-box;
}
/* backgroud do jogo*/
.game-bord{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}
/* Piso do jogo*/
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.8s infinite linear;
}
.grama{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 1px;
    padding-bottom: 240px;
}
.grama-animation{
    animation: grama-animation 1.8s infinite linear;
}

/* Personagem*/
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
   
}
/* Pulo*/
.jump{
    animation: jump 500ms ease-in-out;
}
/* Cenario*/
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
/*Animação*/
@keyframes grama-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
    
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
    
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -500px;
    }
    to {
        right: 100%;
    }

}

p {

    padding: 90px;
    text-align: center;
    color: black;
}