*{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/Mario_walpaper.webp);
}
.principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    margin: auto;
    animation: btn2 20s infinite ;

}
.btn{
    background-color: darkred;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px darkorange;
}

.btn:hover{
    cursor: pointer;
    transition: 1s;
    color: rgb(23, 104, 253);
    background-color: rgb(128, 206, 10);
    box-shadow: 0px 0px 0px 2px skyblue;
}
.btn{
    transform: translateY(90px);
}
@font-face{
    font-family:'04b_30__';
    src: url('fonte/04B_30__.TTF') format('truetype');
}
#text-element{
    font-family:'04b_30__', Arial,sans-serif;
}
h1{
    font-family: '04b_30__';
    padding: 50px;
    text-align: center;
    color: gold;
}

@keyframes btn2 {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}